// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import "partials/header";
@import "partials/login";
@import "partials/register";
@import "partials/footer";
@import "partials/homepage";
@import "partials/restaurant";
@import "partials/dashboard";
@import "partials/index";
@import "partials/login";

body {
    min-height: 100vh;
}

main {
    padding-bottom: 2.5rem;
    // background-image: linear-gradient(to bottom, #ffffff, #e6faff, #b9fbff, #a9f9d7, #d0eb99);
    background-image: linear-gradient(to bottom, #ffffff, #f4fbff, #ddfcff, #c0fdff, #aafef7);
}

