
.card-header {
    background-color: #00ccbc;
    color: black;
    text-align: center;
}

.dashboard{
    padding: 30px;

    .welcome {
        font-size: 20px;
        color: #00ccbc;
        font-weight: 600;
    }
}
.btn-primary {
    color: black;
    background-color: #00ccbc;
    border-color: #00ccbc;
    width: 100%;
    height: 50%;

    &:hover {
        background-color: #02beb2;
        border-color: #02beb2;
    }
}

a:hover {
    text-decoration: none;
}

.user_info {
    padding: 30px;

    .img_account{
        border-radius: 10px;
        object-fit: cover;
        object-position: top;
        width: 100%;
        // height: ;
    }

    ul {
        padding: 20px 0;
        li {
            font-size: 16px;
            list-style: none;
            margin: 10px 0;
        }
    }
}

