header {

    background-color: #00ccbc;

    .logo {
        width: 60%;
    }

    .navbar-light 
    .navbar-nav 
    .nav-link {
        color: #440063;
        font-size: 18px;
        font-weight: 600;


        &.left:hover {
            color: whitesmoke;
        }

        &.right:hover {
            color: whitesmoke;
        }

    }

    .dropdown-item {
        font-size: 18px;
        font-weight: 600;
    }

    .btn {
        width: 170px;
        &.left {
            background-color: #d0eb99;
        }
        &.right {
            background-color: #d0eb99;
        }
    }
}
