header {
    .logo {
        width: 60px;
    }

    .navbar-light 
    .navbar-nav 
    .nav-link {
        color: white;

        &.left:hover {
            color: whitesmoke;
        }

        &.right:hover {
            color: whitesmoke;
        }
    }

    .btn {
        width: 170px;
        &.left {
            background-color: orange;
        }
        &.right {
            background-color: #00ccbc;
        }
    }
}